:root {
color: #FFFFFF;
}



/* body */
body {
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
}

/* header */

:root {
    --logo-color:#4D5AE5;
}

.link {
    font-family: 'Releway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
}

:root {
    --logo-span-color: #2E2F42;
}


.logo-sp {
    color: var(--logo-span-color);
}

.list {
    list-style: none;
}

:root {
    --menu1-color: #2E2F42;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--menu1-color);
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.adress-1 {
    font-style: normal;
}

.list {
    list-style: none;
}

:root {
    --adress1-color: #434455;
}

.link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--adress1-color);
}

.link:hover,
.link:focus {
    color: #404BBF;
}